<!DOCTYPE html>
<html>

<head>
    <title>
        Categories
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- NAVIGATION BAR -->
    <div class="NavBar">
        <h1>
            Categories
        </h1>
        <a class="NavBarLink" href="/">Home</a>
        <a class="NavBarLink" href="/categories">Categories</a>
        <a class="NavBarLink" href="/products">Products</a>
        <input placeholder="Search product" />
    </div>
    <!-- NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <h2> Edit the <%= category %> category here</h2>
    <form method="POST" action="">
        <label for="name"> Name: </label>
        <br />
        <input name="name" type="text" value="<%= currentname %>" />
        <br />
        <br />
        <label for="description">Description:</label>
        <br />
        <input name="description" type="text" value="<%= currentDescription %>" />
        <br/>
        <br/>
        <button class="button-link" type="submit">Update</button>
    </form>
    <!-- PAGE CONTENT -->






</body>

</html>