<!DOCTYPE html>
<html>

<head>
    <title>
        <%= pagetitle %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- NAVIGATION BAR -->
    <div class="NavBar">
        <h1>
            <%= pagetitle %>
        </h1>
        <a class="NavBarLink" href="/">Home</a>
        <a class="NavBarLink" href="/categories">Categories</a>
        <a class="NavBarLink" href="/products">Products</a>
        <input placeholder="Search product" />
    </div>
    <!-- NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
<h1> <%= categoryName %></h1>
<h1> <%= categoryDescription %></h1>
    <!-- PAGE CONTENT -->






</body>

</html>