<div class="NavBar">
    <a class="NavBarLink" href="www.example.com">Home</a>
    <a class="NavBarLink" href="www.example.com">Categories</a>
    <a class="NavBarLink" href="www.example.com">Products</a>
    <h1><%= pagetitle %> </h1>
    <input placeholder="Search product"/>
</div>
